version: '3.8'

services:
    napcat:
        environment:
            - NAPCAT_UID=1000
            - NAPCAT_GID=1000
        ports:
            - 3000:3000
            - 3001:3001
            - 6099:6099
        volumes:
            - ./napcat/config:/app/napcat/config # 持续化配置文件目录
            - ./napcat/audios:/app/napcat/custom_audios # 自定义语音文件目录
        container_name: napcat
        restart: always
        image: mlikiowa/napcat-docker:latest
        networks:
            - napcatnet
    chatbot:
        container_name: chatbot_1
        build: .
        volumes:
          - ./backend:/app/backend # 持续化后端代码目录
          - ./env:/app/env # 持续化环境变量目录
        ports:
          - "8080:8080"
        restart: unless-stopped
        environment:
          - PYTHONUNBUFFERED=1
        networks:
            - napcatnet

networks:
    napcatnet:
        driver: bridge
        ipam:
            driver: default